{
  "ecmaFeatures": {
    "globalReturn": true,
    "modules": true
  },
  "extends": "eslint:recommended",
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {},
  "parser": "babel-eslint",
  "plugins": [],
  "rules": {
    "no-extra-parens": 2,
    "array-callback-return": 2,
    "complexity": 2,
    "curly": 2,
    "no-else-return": 2,
    "no-extra-bind": 2,
    "no-global-assign": 2,
    "no-implicit-globals": 2,
    "no-param-reassign": 2,
    "no-return-assign": 2,
    "no-unused-expressions": 2,
    "no-useless-call": 2,
    // ... lots of lots of rules here
  }
}